In [54]:
file = open('answer_4.txt', 'r')
переменная = list(map(lambda x: x.strip(), file.readlines()))
file.close()

In [55]:
print(переменная)

['1 121.5', '2 133.0', '3 136.75', '4 141.33333333333334', '5 142.25', '6 152.66666666666666', '7 160.2', '8 165.2', '9 171.0', '10 169.0', '11 175.0']

In [58]:
var_s = list(map(lambda x: x.strip(), переменная))
for i in переменная:
    print(i)

1 121.5
2 133.0
3 136.75
4 141.33333333333334
5 142.25
6 152.66666666666666
7 160.2
8 165.2
9 171.0
10 169.0
11 175.0

In [63]:
var_s

['1 121.5',
 '2 133.0',
 '3 136.75',
 '4 141.33333333333334',
 '5 142.25',
 '6 152.66666666666666',
 '7 160.2',
 '8 165.2',
 '9 171.0',
 '10 169.0',
 '11 175.0']

In [64]:
a = []
b = []
for i in var_s:
    a_1, b_1 = i.split(' ')
    a.append(int(a_1)); b.append(float(b_1))

In [65]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [66]:
b

[121.5,
 133.0,
 136.75,
 141.33333333333334,
 142.25,
 152.66666666666666,
 160.2,
 165.2,
 171.0,
 169.0,
 175.0]

In [67]:
b_new = list(map(lambda x: x + 10, b))

In [68]:
b_new

[131.5,
 143.0,
 146.75,
 151.33333333333334,
 152.25,
 162.66666666666666,
 170.2,
 175.2,
 181.0,
 179.0,
 185.0]

In [69]:
def plus_ten(a): 
    return a + 10

In [71]:
plus_ten(11)

21

In [72]:
b_new = list(map(plus_ten, b))

In [73]:
b_new

[131.5,
 143.0,
 146.75,
 151.33333333333334,
 152.25,
 162.66666666666666,
 170.2,
 175.2,
 181.0,
 179.0,
 185.0]

In [77]:
with open('vanya_python.txt', 'w') as file:
    for item in b_new:
        file.write(str(item))
        #file.write('\n')

In [80]:
a = ['a', 1, 2.5, ['Vanya']]

In [81]:
a

['a', 1, 2.5, ['Vanya']]

In [86]:
a = ['a', 1, 2.5, list('Vanya')]

In [87]:
a

['a', 1, 2.5, ['V', 'a', 'n', 'y', 'a']]

In [90]:
a = list(range(0, 101, 2))

In [104]:
a = [x**2 for x in range(101) if x % 2 == 0]

In [145]:
a = list(range(0, 52, 2))

In [146]:
a

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [106]:
d = {1: 1, 2:4, 3:9}

In [109]:
d[int('1')]

1

In [112]:
float('267')

267.0

In [116]:
b = 56.3356898795644561565489

In [117]:
b = round(b, 3)

In [118]:
b

56.336

In [125]:
for i in a:
    try:
        print(i / 5)
    except:
        print(i*10)

0.0
0.8
3.2
7.2
12.8
20.0
28.8
39.2
51.2
64.8
80.0
96.8
115.2
135.2
156.8
180.0
204.8
231.2
259.2
288.8
320.0
352.8
387.2
423.2
460.8
500.0
540.8
583.2
627.2
672.8
720.0
768.8
819.2
871.2
924.8
980.0
1036.8
1095.2
1155.2
1216.8
1280.0
1344.8
1411.2
1479.2
1548.8
1620.0
1692.8
1767.2
1843.2
1920.8
2000.0
vanyavanyavanyavanyavanyavanyavanyavanyavanyavanya

In [132]:
a = [[1, 2, 3], [4, 5, 6, 4]]

In [133]:
a[1][0]

4

In [134]:
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j])

1
2
3
4
5
6
4

In [142]:
for i in a:
    for j in i:
        print(j, end = ' ')
    print(' Vanya')

1 2 3  Vanya
4 5 6 4  Vanya

In [154]:
print(' '.join('Vanya python'))

V a n y a   p y t h o n

In [155]:
a = [[0]*4]*5

In [156]:
a

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [169]:
b = [[i*j for j in range(6)] for i in range(5)]

In [171]:
for i in b:
    for j in i:
        print(j, end = " ")
    print()

0 0 0 0 0 0
0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15
0 4 8 12 16 20

In [2]:
import xlrd, xlwt